html{
}

h1, h2, h3, h4, h5, p, li, a{
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: blue;
}

nav{
    background-color: #333333;
    padding: 50px 50px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav a:hover{
    color: lawngreen;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 50px;
}

form h1{
    color: white;
}

form input{
    font-family: 'Courier New', Courier, monospace;
}

form button{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: yellow;
    padding: 50px 50px;
}

.theNav{
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.theNav h3{
    padding: 50px;
    color: white;
}

.theNav a{
    text-decoration: none;
}

footer{
    background-color: #333333;
    padding: 50px 50px;
}

footer h3{
    color: white;
    display: flex;
    justify-content: center;
}

footer a {
    color: yellow
}